<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .name {
        color: white;
        position: fixed; /* Фиксированное положение */
        background: #454545; /* Цвет фона */
        height: 50px;
        font-size: 40px;
        left: 0; top: 0;
        width: 100%;
        }
        .information {
        color: white;
        background: #404040;
        font-size: 20px;
        }
        background: #000;
    </style>
    <title>Све4ка</title>
</head>
<body background="#505050">
    <div class="name">А Вот Рома Лох</div>
    <p>Привет</p>
    <p class="information">жидли были три японца як як-цыдрак як-цыдрак-цыдрак-цидрони</p>

</body>
</html>